@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
}
#frame-css{
  border-radius: 6px;
}
#frame-css:hover{
  transform: scale(1.05);
}
#video{
  position: fixed;
  z-index: -1;
  width: 100%;
}